<app-nav-menu2 style="padding:40px;"></app-nav-menu2>
<h1 style="padding-bottom:100px;"></h1>

<div class="form-group col-md-12" margin-left="0%">
    <h1>POLITYKA PRYWATNOŚCI</h1>
    
    <p>
        Niniejsza treść stanowi opis polityki prywatności APP.nimal. Polityka prywatności APP.nimal (dalej: Polityka) określa zasady, sposób przetwarzania oraz wykorzystywania danych i informacji pochodzących od użytkowników systemu internetowego APP.nimal. 
    </p>
    
    <p>
        <a>Administrator przetwarza Dane osobowe w celu:</a>
    </p>
    <ol> 
        <li>
            Tworzenia konta Użytkownikom, z danymi podanymi przy rejestracji konta. (art. 6 ust.1 pkt. a RODO)
        </li>
        <li>
            Tworzenia ofert Użytkownikom na podstawie podanych danych. (art. 6 ust.1 pkt. a RODO).
        </li>
        <li>
            Proponowania Użytkownikom ofert na podstawie podanej lokalizacji (art. 6 ust.1 pkt. a RODO).
        </li>
        <li>
            W przypadku kontaktu z Użytkownikiem w celu udzielenia odpowiedzi, podstawą prawną przetwarzania Danych osobowych jest zgoda każdego Użytkownika na przetwarzanie danych osobowych (art. 6 ust.1 pkt. a RODO).
        </li>
    </ol>
    
    <p>
        Zgodnie z rozdziałem III, art. 15-21 RODO, Użytkownikowi przysługują następujące prawa w związku z przetwarzaniem jego Danych Osobowych przez APP.nimal:
    </p>
    
    <ol>
        <li>Prawo dostępu do swoich Danych Osobowych,</li>
        <li>Prawo do sprostowania przetwarzanych danych,</li>
        <li>Prawo do usunięcia danych („prawo do bycia zapomnianym”),</li>
        <li>Prawo do ograniczenia przetwarzania danych,</li>
        <li>Prawo do przenoszenia danych,</li>
        <li>Prawo do wyrażenia sprzeciwu na dalsze przetwarzanie danych,</li>
        <li>Prawo do niepodlegania decyzjom opierającym się wyłącznie na zautomatyzowanym przetwarzaniu, w tym profilowaniu.</li>
    </ol>
    
    
    <p>
        Administrator wdrożył odpowiednie środki bezpieczeństwa (organizacyjne i techniczne), mające na celu ochronę Danych Osobowych przed ich utratą, niewłaściwym wykorzystaniem, bezprawnym przetwarzaniem czy modyfikacją. Administrator zobowiązuje się chronić wszelkie informacje ujawnione przez Użytkowników zgodnie z normami ochrony bezpieczeństwa i zachowania poufności. Dostęp do Danych Osobowych Użytkowników zostały w restrykcyjny sposób ograniczone, tak aby informacje te nie znalazły się w rękach osób niepowołanych. 
    </p>
    <p>
        APP.nimal oświadcza, że na stronie używamy cookies. Korzystając z tej strony internetowej, Użytkownik zgadza się na wprowadzenie cookie w urządzeniu, jak wyjaśniono poniżej.
    </p>
    
    <p>
        Pliki cookies wykorzystywane są w celu:
        Tworzenia statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości,
        </p>
    <ol>
        <li>Dostosowania zawartości stron serwisów internetowych do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych; w szczególności pliki te pozwalają rozpoznać urządzenie użytkownika serwisu internetowego i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb,</li>
        <li>Tworzenia statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości,</li>
        <li>Dostarczania użytkownikom treści reklamowych bardziej dostosowanych do ich zainteresowań.</li>
    </ol>
    
    
    <p>
        Rodzaje wykorzystywanych przez APP.nimal plików cookies:
    </p>
    
    <ul>
        <li>„Niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach serwisu, np. umożliwiające korzystanie z sesji;</li>
        <li>„Analityczne” pliki cookies, umożliwiające monitorowanie aktywności Użytkowników w serwisie.</li>
        <li>Użytkownik ma możliwość zablokowania zapisywania plików cookies poprzez odpowiednią zmianę ustawień przeglądarki internetowej. Wyłączenie cookies może mieć wpływ na funkcjonowanie strony. Brak zmiany ustawień przeglądarki oznacza akceptację dla stosowanych cookies.</li>
    </ul>
    
</div>
